<p id="notice"><%= notice %></p>

<p>
  <strong>Rental:</strong>
  <%= @rental.rental_id %>
</p>

<p>
  <strong>Uin:</strong>
  <%= @rental.uin %>
</p>

<p>
  <strong>Apparel:</strong>
  <%= @rental.apparel %>
</p>

<p>
  <strong>Checkout date:</strong>
  <%= @rental.checkout_date %>
</p>

<p>
  <strong>Expected return date:</strong>
  <%= @rental.expected_return_date %>
</p>

<p>
  <strong>Actual return date:</strong>
  <%= @rental.actual_return_date %>
</p>

<p>
  <strong>Student:</strong>
  <%= @rental.student %>
</p>

<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>